<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{
	title : 'Nuevo'
}) %>


<body>
    <%- include('../partials/header-admin') %>
    <main class="container">
        <section class="row my-5">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/admin" class="text-primary">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Nuevo restaurant</li>
                            </ol>
                          </nav>
                    </div>
                    <div class="card-body">
                        <form action="/productos/crear" method="POST" class="row" enctype="multipart/form-data">
                            <h3>Nuevo Restaurante</h3>
                            <hr>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-floating">
                                    <input name="name" type="text" class="form-control <%= (locals.errors && errors.name) && 'is-invalid' %>" id="name" value="<%= locals.old && old.name %>">
                                    <label for="name">Nombre</label>
                                </div>
                                <small class="text-danger ms-2"><%= (locals.errors && errors.name) && errors.name.msg %></small>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                              <div class="form-floating">
                                <input name="address" type="text" class="form-control <%= (locals.errors && errors.address)  && 'is-invalid'%>" id="address" value="<%= locals.old && old.address %>">
                                <label for="address">Dirección</label>
                              </div>
                              <small class="text-danger ms-2"><%= (locals.errors && errors.address) && errors.address.msg %></small>

                            </div>
                            <div class="col-12 mb-3 d-flex justify-content-between align-items-start gap-3">
                                <div class="w-100">
                                  <div class="form-floating ">
                                    <input name="url_map" type="text" class="form-control <%= (locals.errors && errors.url_map)  && 'is-invalid'%>" id="url_map" value="<%= locals.old && old.url_map %>">
                                    <label for="url_map">URL Google Maps</label>
                                  </div>
                                  <small class="text-danger ms-2"><%= (locals.errors && errors.url_map) && errors.url_map.msg %></small>
                                </div>
                              

                                <a href="https://www.google.com/maps" target="_blank" class="btn btn-lg btn-outline-dark"><i class="fa-solid fa-map-location-dot"></i></a>
                              </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-floating">
                                    <select name="category" class="form-select <%= (locals.errors && errors.category)  && 'is-invalid'%>" id="category" aria-label="Floating label select example">
                                      <option value="" selected hidden></option>
                                      <% categories.forEach(category => { %>
                                        <option value="<%= category %>" <%= (locals.old && old.category) && old.category == category ? 'selected' : null %>><%= category %></option>
                                      <% }) %>
                                    </select>
                                    <label for="category">Categoría</label>
                                  </div>
                                  <small class="text-danger ms-2"><%= (locals.errors && errors.category) && errors.category.msg %></small>

                              </div>
                              <div class="col-12 col-md-3 mb-3">
                                  <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                                  <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                                  <small class="text-danger ms-2"><%= (locals.errors && errors.mainImage) && errors.mainImage.msg %></small>

                              </div>
                              <div class="col-12 col-md-3 mb-3">
                                <input  name="images" type="file" class="form-control" id="images" hidden multiple>
                                <label class="btn btn-lg btn-outline-dark w-100" for="images">Imágenes</label>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-floating">
                                    <textarea name="description" class="form-control <%= (locals.errors && errors.description) && 'is-invalid' %>" id="description" style="height: 150px;"><%= locals.old && old.description %></textarea>
                                    <label for="description">Descripción</label>
                                  </div>
                                  <small class="text-danger ms-2"><%= (locals.errors && errors.description) && errors.description.msg %></small>

                            </div>
                           
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-lg btn-dark">Guardar cambios</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/scripts') %>

</body>
</html>