<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{ title : 'Detalle' }) %>


	<body class="detail">

		<main class="d-flex flex-column justify-content-between" style="height: 100vh;">
			<%- include('../partials/header') %>

				<section class="row">
					<div class="col-12 col-lg-10 mx-auto">
						
						<div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
							<div class="row">
								<%- include('../partials/slider-detail', {
									image,
									images
								}) %>
							<div class="col-12 col-md-6 col-lg-5">
							<div class="card-body  d-flex flex-column flex-md-row gap-4 flex-wrap">
									<div class="d-flex justify-content-between align-items-start w-100">
										<div>
											<h3>
												<%= name %>
											</h3>
											<div>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="far fa-star"></i>
											</div>
										</div>


										<h3 class="badge text-bg-<%= categoryId == 1 ? " success" : categoryId==2
											? "danger" : "primary" %>"><%= category.name %>
										</h3>
									</div>

									<hr>
									<h5><a href="" data-bs-toggle="modal" data-bs-target="#modalMap"
											class="text-secondary"><i class="fa-solid fa-map-location-dot"></i></a>
										<%= address.street %>
											<%= address.city %>, <%= address.province %>
									</h5>
									<p>
										<%= description %>
									</p>
									<ul class="list-group list-group-flush ">
										<li class="list-group-item bg-transparent"><i class="fa-solid fa-utensils"></i>
											El cubierto, <b> $<%= coverPrice %></b> por persona</li>
										<li class="list-group-item bg-transparent"><i
												class="fa-solid fa-people-group"></i> Hasta <b>
												<%= capacity %> 
											</b> personas</li>

										<% if (locals.userLogin) { %>
											<li class="list-group-item bg-transparent"><i class="fa-solid fa-phone"></i>
												<b>
													<%= phone %>
												</b></li>
											<li class="list-group-item bg-transparent"><i
													class="fa-solid fa-envelope"></i> <b>
													<%= email %>
												</b></li>
											<% } %>
									</ul>
									<div class="d-flex justify-content-end">
										<button class="btn btn-dark">Reservar</button>
									</div>

								</div>
							</div>
								<div class="col-12">
									<div class="card-body">
									<h4>Reseñas</h4>
									<hr>
									<div class="row g-3">
										<%- include('../partials/reviewer-card') %>
											<%- include('../partials/reviewer-card') %>
									</div>
									<%- include('../partials/reviewer-form') %>
								</div>
								</div>
								<div class="col-12">
									<div class="card-body">
<!-- Swiper -->
<div class="swiper mySwiper">
	<div class="swiper-wrapper">


		<% relateds.forEach(resto=> { %>
			<div class="swiper-slide">
				<a href="/productos/detalle/<%= resto.id %>">
					<div class="card">
						<img class="card-img-top" src="/images/<%= resto.image %>" %>"
						alt="restó">
						<div class="card-body">
							<h4 class="card-title">
								<%= resto.name %>
							</h4>
							<div class="text-dark text-end">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</div>
						</div>
					
					</div>
				</a>
				
			</div>


			<% }) %>

	</div>
	<div class="swiper-pagination"></div>
</div>
									</div>
								</div>

								

								<%- include('../partials/modal-show-map-detail',{ url_map, }) %>
							
						</div>
						</div>
					
					</div>
				</section>
				<%- include('../partials/footer') %>

		</main>

	

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView: 3,
				spaceBetween: 30,
				pagination: {
					el: ".swiper-pagination",
					dynamicBullets: true,
				},
			});
		</script>
	</body>

</html>