<a class="home__main__products__product" href="/productos/detalle/<%= id %>#card-detail" style="background-image: url('images/<%= image %>');">
    <div class="home__main__products__product__container">  
    <div class="home__main__products__product__photo-container">
            <img class="home__main__products__product__photo-container--photo" src="images/<%= image || 'default.png' %>"
                alt="pdto 01">
            <img class="home__main__products__product__photo-container--special" src="images/<%= category.name.toLowerCase() === "barato" ? 'img-descuento.png' : category.name.toLowerCase() === "romántico" ? 'img-gratis.png' : 'img-nuevo.png' %>"
                alt="restó">
        </div>
        <div class="p-2">

        <h3><%= name %></h3>
        <hr>
        <h4 class="fs-5"><%= address.city %> | <%= address.province %></h4>
        <p><%= description %></p>
        <span class="stars ">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </span>
        </div>
    </div> 
</a>
