<!DOCTYPE html>
<html lang="ES">
<%- include('../partials/head',{ title : 'Perfil' }) %>

  <body>
    <main class="d-flex flex-column justify-content-between" style="height: 100vh">
      <%- include('../partials/header') %>

        <section class="row">
          <div class="col-12 col-md-10 col-lg-6 mx-auto my-5">
            <div class="card shadow">
              <div class="card-header">
                <h4 class="card-title">Perfil de usuario</h4>
              </div>
              <div class="card-body">
                <form action="" class="row" method="POST">
                  <div class="col-12 col-md-6 mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name"
                      class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" id="name"
                      value="<%= locals.old && old.name ? old.name : null %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.name ? errors.name.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="surname" class="form-label">Apellido</label>
                    <input type="text" name="surname"
                      class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>" id="surname"
                      value="<%= locals.old && old.surname ? old.surname : null %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.surname ? errors.surname.msg : null %>
                    </small>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" name="email"
                      class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" id="email"
                      placeholder="name@example.com" value="<%= locals.old && old.email ? old.email : null %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.email ? errors.email.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="province" class="form-label">Provincia</label>
                    <input type="province" name="province"
                      class="form-control"
                      id="province" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.password ? errors.password.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="password" name="city"
                      class="form-control"
                      id="city" />

                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.city ? errors.city.msg : null %>
                    </small>
                  </div>
                
                  <div class="col-12 col-md-6 mb-3">
                    <button class="btn btn-dark w-100">Actualizar datos</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>


      
            </div>
          </div>
        </div>
        <%- include('../partials/footer') %>
    </main>
  </body>

</html>